/* 
Project Name: Portfolio
Client: GA
Author: Brian Ries
Developer Brian Ries
*/

body {
     margin: 20px;
     font-family: helvetica;
}

header {
     font-size: 70px;
     text-align: center;
     font-family: arial narrow; 
     text-transform: uppercase;
     font-style: bold;
}

nav {
     font-size: 15px; 
     text-align: center;
     text-transform: uppercase;
     margin: 20px;
     font-family: arial narrow; 
}

strong {
     color: red;
}

h3 {
     font-size: 12px;
     color: red;
     text-transform: uppercase;
     margin-bottom: -10px;
}

a {
     color: black;
}

footer {
     text-align: center;
     font-family: arial narrow; 
}

.intro {
     font-size: 12px;
     color: red;
}

.dates {
     font-size: 10px
     text-transform: uppercase;
}

/*
.quote {
     font-size: 30px;
}
*/
.header {
     width: auto 0;
     max-width: 800px; 
     background-size: auto 0;
     float: center;
}

.face {
     width: 300px;
     float: right;
     border: 1px solid;
     margin: 10px;
     padding: 2px;
}

.beast1 {
     width: 300px;
     float: right;
     border: 1px solid;
     margin: 10px;
     padding: 2px;
}

.today {
     width: 500px;
     margin-top: 20px;
     margin-left: 10px;
     border: 1px solid;
}
